form{
    background-color: cyan;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input{
    width: 95%;
    padding: 5px;
    outline: none;
}

form button{
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
}